.not-found-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-page-container button {
  margin-top: 1rem;
  border-radius: 3px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgb(186, 183, 183);
}

.not-found-page-container button:hover {
  box-shadow: 1px 1px 3px grey;
  border-width: 0;
}
