.signin-site {
  height: 100vh;
  background-color: rgb(43, 109, 196);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.signin-inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.signin-inputs-container input {
  outline: none;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.submit-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(43, 109, 196);
  color: #ffffff;
  border-width: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}
